@charset "utf-8";

a:link, a:visited, a:active{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: red;
}
TABLE, TD, TR, TH{
	font-size: 9pt;
}
P{
	font-size: 9pt;
}
body{
	background-color: e0ffff;
}
#title{
	background-color: #5f9ea0;
}
#value{
	background-color: #b0e0e6;
}
#back{
	background-color: #8fbc8f;
}
#bar{
	background-color: #778899;
}
